* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! Player Component Styling  */
/********************************/
.card-container {
  min-width: 300px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.player-card {
  height: 420px;
  width: 280px;
  background-color: aliceblue;
  border-radius: 10px;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.player-card img{
  height: 350px;
  width: 280px;
  min-width: 230px;
  border-radius: 10px;
  transition: transform 0.4s;
}

.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.player-card:hover img {
  transform: scale(0.95);
}

.searchInput{
  width: 50%;
  margin-bottom: 20px;
  margin-left: 17vw;
  font-size: 1.3rem;
  border-radius: 15px;
}

.players{
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
}
.ulItems{
  margin-top: 8rem;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 4.9rem;
}
.ulItems li{
  list-style-type: none;
}
.nameOfPlayer{
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
}